body {
	background: #f0f0f0;
}

p {
	font: 400 17px "Source Sans Pro", Arial, Helvetica, sans-serif;
}

.card {
	width: 160px;
 	height: 160px;
	border-radius: 4px;
	margin: 0 6px;
	padding: 12px;
	font: 600 17px "Source Sans Pro", Arial, Helvetica, sans-serif;
	overflow: hidden;
	line-height: 1.2;
	margin-bottom: 10px;
}

.placeholder {
	font: 700 17px "Source Sans Pro", Arial, Helvetica, sans-serif;
	color: #198162;
}

.white-card {
	background: #198162;
	color: white;
}

.black-card {
	background: #333333;
	color: white;
}